[package]
name = "rustproxy"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4"
ct-logs = "0.8"
http = "0.2"
hyper = { version = "0.14", features = ["full"] }
hyper-proxy = { version = "0.9", default-features = false, features = ["rustls-webpki"] }
hyper-rustls = "0.22"
log = "0.4"
moka = { version = "0.5", features = ["future"] }
rcgen = "0.8"
rustls = "0.19"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-rustls = "0.22"
webpki-roots = "0.21"

[dev-dependencies]
env_logger = "0.9"
futures = "0.3"
